@charset "UTF-8";

#wrap {
  overflow: hidden;
}

// * header
#header {
  &.is-active {
    @include flex(flex, null, null, center);
  }
  &:not(.is-active) {
    display: none;
  }
  @include position(fixed, 16px, null, null, 50%, 100, -50%);
  @include border(all, 1px, solid, hsla(0, 0%, 100%, 0.1), 25px);
  overflow: hidden;
  width: max-content;
  height: 50px;
  padding: 0 10px;
  backdrop-filter: blur(34px);
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.21);
  background: {
    color: rgba(33, 33, 33, 0.8);
  }
  .main-nav {
    @include flex(flex, null, null, center);
    flex: none;
    gap: 6px;
    .nav-item {
      @include position(relative);
    }
    a {
      @include position(relative, null, null, null, null, 1);
      @include font-call(Pretendard, 14px, 600);
      display: block;
      padding: 8px 16px;
      transition: opacity 200ms ease, color 350ms ease;
      &:not(.focus) {
        color: #81859f;
        opacity: 0.8;
        &:after {
          transition: background 350ms ease;
        }
      }
      &.focus {
        color: #fff;
        border: {
          radius: 100px;
        }
        background: {
          color: hsla(0, 0%, 100%, 0.1);
        }
        &:after {
          @include position(absolute, 27.8984px, null, null, 50%, 0, -50%);
          content: "";
          width: 70px;
          height: 70px;
          border-radius: 200px;
          filter: blur(40px);
          transform: translate3d(-50%, 0, 0);
          background: {
            image: linear-gradient(180deg, #eec5bd, #c6caf6 64%, #dad9e9);
          }
        }
      }
    }
  }
}

// * mobile header
#mo-header {
  @include position(fixed, null, null, null, null, 1000);
  display: none;
  &:before {
    @include position(fixed, 0, 0, 0, 0, 1);
    content: "";
    height: 80px;
    backdrop-filter: blur(5px);
    mask-image: linear-gradient(to bottom, #000 0%, transparent 100%);
  }
  &:not(.dark) {
    &:before {
      background: {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  &.dark {
    &:before {
      background: {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
  &.is-active {
    display: block;
  }
  &.is-click {
    .main-nav {
      transform: translateY(0);
      .nav-item {
        opacity: 1;
        transform: translateY(0);
        &:nth-child(1) {
          transition: opacity 1s ease 0.3s, transform 1s ease 0.3s;
        }
        &:nth-child(2) {
          transition: opacity 1s ease 0.5s, transform 1s ease 0.4s;
        }
        &:nth-child(3) {
          transition: opacity 1s ease 0.7s, transform 1s ease 0.5s;
        }
        &:nth-child(4) {
          transition: opacity 1s ease 0.9s, transform 1s ease 0.6s;
        }
      }
    }
  }
  .main-nav {
    @include position(fixed, 0, 0, 0, 0, 900);
    padding: 80px 30px 30px;
    backdrop-filter: blur(10px);
    transform: translateY(-100%);
    transition: transform 1.125s cubic-bezier(0.39, 0.99, 0.46, 1);
    background: {
      color: rgba(var(--bg-mobile-nav), 0.5);
    }
    .nav-item {
      color: #fff;
      transform: translateY(-50px);
      opacity: 0;
      font: {
        size: 30px;
        weight: 700;
      }
      + .nav-item {
        margin-top: max(20px, calc(20 / var(--cal-width-w)));
      }
      &:nth-child(4) {
        transition: opacity 1s ease 0.3s, transform 1s ease 0.3s;
      }
      &:nth-child(3) {
        transition: opacity 1s ease 0.5s, transform 1s ease 0.4s;
      }
      &:nth-child(2) {
        transition: opacity 1s ease 0.7s, transform 1s ease 0.5s;
      }
      &:nth-child(1) {
        transition: opacity 1s ease 0.9s, transform 1s ease 0.6s;
      }
    }
  }
  .btn-mo-menu {
    @include flex(flex, column, null, null, null, null, center);
    @include position(fixed, 26px, 16px, null, null, 1000);
    width: 28px;
    height: 28px;
    cursor: pointer;
    span {
      height: 3px;
      margin: 3px 0;
      border-radius: 6px;
      transition: transform .3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      &:nth-of-type(1) {
        width: 50%;
      }
      &:nth-of-type(2) {
        width: 100%;
      }
      &:nth-of-type(3) {
        width: 75%;
      }
    }
    &.is-active {
      span {
        &:nth-of-type(1) {
          transform-origin: bottom;
          transform: rotatez(45deg) translate(3px, 2px);
        }
        &:nth-of-type(2) {
          transform-origin: center;
          transform: rotatez(-45deg);
        }
        &:nth-of-type(3) {
          width: 50%;
          transform-origin: bottom;
          transform: rotatez(45deg) translate(5px, -11px);
        }
      }
    }
    &:not(.dark) {
      span {
        background: {
          color: #fff;
        }
      }
    }
    &.dark {
      span {
        background: {
          color: #121212;
        }
      }
    }
  }
}

// * 언어 변경
.lang-change {
  display: none;
  .control-input {
    width: 0;
    height: 0;
    opacity: 0;
    &:checked {
      ~ .control-text {
        &:before {
          transform: translate(calc(100% + 3px), -50%);
        }
      }
      ~ .ko {
        opacity: 0.5;
      }
      ~ .en {
        opacity: 1;
        font: {
          weight: 700;
        }
      }
    }
    &:not(:checked) {
      ~ .control-text {
        &:before {
          transform: translate(3px, -50%);
        }
      }
      ~ .ko {
        opacity: 1;
        font: {
          weight: 700;
        }
      }
      ~ .en {
        opacity: 0.5;
      }
    }
  }
  .control-text {
    @include position(relative);
    display: inline-block;
    width: 40px;
    height: 24px;
    margin: 0 5px;
    cursor: pointer;
    &:before {
      @include position(absolute, 50%, null, null, 0, 1, null, -50%);
      content: "";
      width: 16px;
      height: 16px;
      transition: transform 0.5s ease-out;
      border: {
        radius: 100%;
      }
    }
  }
  .ko,
  .en {
    transition: opacity 0.5s linear;
    font: {
      size: 12px;
    }
  }
  span {
    flex: none;
  }
  &:not(.dark) {
    .control-text {
      @include border(all, 1px, solid, #f9f9f9, 12px);
      background: {
        color: #fbfbfb;
      }
      &:before {
        background: {
          color: #5754FE;
        }
      }
    }
    .ko,
    .en {
      color: #fff;
      text-shadow: 0px 0px 5px rgba(#000, 0.5);
    }
  }
  &.dark {
    .control-text {
      @include border(all, 1px, solid, #222, 12px);
      background: {
        color: #333;
      }
      &:before {
        background: {
          color: #fff;
        }
      }
    }
    .ko,
    .en {
      color: #121212;
    }
  }
  &.pc {
    @include position(fixed, 28px, 28px, null, null, 1100);
    @include flex(flex, null, null, center);
  }
  &.mo {
    @include position(fixed, 28px, null, null, 16px, 1100);
    @include flex(flex, null, null, center);
  }
}

// * header logo
.header-logo {
  @include position(fixed);
  display: none;
  width: 150px;
  aspect-ratio: 10/1;
  text-indent: -9999em;
  background: {
    position: left top;
    size: contain;
    repeat: no-repeat;
  }
  &.pc {
    @include position(fixed, 33px, null, null, 28px, 1000);
    display: block;
  }
  &.mo {
    @include position(fixed, 33px, null, null, 50%, 1000, -50%);
    display: block;
  }
  &:not(.dark) {
    background: {
      image: url($common-image-url + 'img-logo-white.png');
    }
  }
  &.dark {
    background: {
      image: url($common-image-url + 'img-logo.png');
    }
  }
}

// * scroll animation
.scroll-animation {
  @include flex(flex, null, null, center, null, null, center);
  @include position(absolute, null, null, 40px, null, 10);
  width: 40px;
  height: 60px;
  border: {
    radius: 20px;
  }
  background: {
    color: #121212;
  }
  &:before {
    @include border(all, 2px, solid, #fff, 18px);
    content: "";
    display: block;
    width: 26px;
    height: 46px;
  }
  &:after {
    @include position(absolute, 20px, null, null, 50%, 1, -50%);
    content: "";
    width: 6px;
    height: 6px;
    animation: infinite mouse-move 1.4s;
    background: {
      color: #fff;
    }
    border: {
      radius: 100%;
    }
  }
}

// * common inside
.inside {
  flex: none;
  width: 100%;
  max-width: 1068px;
  margin: 0 auto;
}

// * Visual
#visual {
  @include flex(flex, null, null, center, null, null, center);
  @include position(relative);
  overflow: hidden;
  min-height: 100dvh;
  clip: rect(0, auto, auto, 0);
  .visual-list {
    @include position(fixed, 0, 0, 0, 0, 0);
    .visual-item {
      @include position(absolute, 0, 0, 0, 0, 0);
      height: 100dvh;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      background: {
        position: 50% 50%;
        size: cover;
        attachment: fixed;
      }
      &.scale {
        animation: forwards visual-scale 40s;
      }
    }
  }
  .dim {
    @include position(absolute, 0, 0, 0, 0, 1);
    background: {
      color: rgba(0, 0, 0, 0.45);
    }
  }
  .title {
    @include flex(flex, column, null, center, null, null, center);
    @include position(relative, null, null, null, null, 3);
    text-align: center;
    p {
      @include position(relative);
      overflow: hidden;
      width: fit-content;
      letter-spacing: -2px;
      &:before {
        @include position(absolute, 0, 0, 0, 0, 1);
        content: "";
        width: 0;
        background: {
          color: #fff;
        }
      }
    }
    span {
      color: #fff;
      opacity: 0;
      text-shadow: 0px 0px 5px rgba(#000, 0.5);
    }
    strong {
      font: {
        weight: 700;
      }
    }
    &.animate-start {
      p {
        color: #fff;
        span {
          opacity: 1;
        }
        &:before {
          left: 105%;
          width: 100%;
        }
        &:nth-child(1) {
          span {
            transition: opacity 0.5s ease 0.5s;
          }
          &:before {
            transition: width 0.5s 0s, left 0.5s ease 1.5s;
          }
        }
        &:nth-child(2) {
          span {
            transition: opacity 0.5s ease 1s;
          }
          &:before {
            transition: width 0.5s 0.5s, left 0.5s ease 2s;
          }
        }
        &:nth-child(3) {
          span {
            transition: opacity 0.5s ease 1.5s;
          }
          &:before {
            transition: width 0.5s 1s, left 0.5s ease 2.5s;
          }
        }
      }
    }
  }
  .visual-text1 {
    @include font-call(GmarketSans, 64px, 500, 140%);
    + .visual-text1 {
      margin-top: 10px;
    }
  }
  .visual-text2 {
    margin-top: 40px;
    font: {
      size: 24px;
    }
  }
}

// * common layout
#introduce,
#service,
#recruit,
#location,
#cert,
#footer {
  @include position(relative, null, null, null, null, 5);
}

// * introduce
#introduce {
  padding: 150px 0;
  background: {
    color: var(--bg-contents2);
  }
  .service-detail-info {
    @include flex(flex, column, wrap);
    transform: translate3d(0, 0, 0);
    .item {
      @include position(relative);
      flex: 1 1 100%;
      padding: 30px;
      p {
        text-align: center;
        &:nth-child(1) {
          @include font-call(GmarketSans, 28px, 700);
          color: var(--text-primary);
          margin-bottom: 10px;
        }
        &:nth-child(2) {
          @include font-call(GmarketSans, 18px, 500, 140%);
          color: var(--text-secondary);
          word-break: keep-all;
        }
      }
      + .item {
        @include border(top, 1px, solid, var(--border-primary));
      }
    }
  }
  .intro-history {
    margin-top: 80px;
  }
  .history-detail-info {
    @include flex(flex, null, null, flex-start);
    .title {
      @include font-call(GmarketSans, 60px, 700);
      @include position(sticky, 40px);
      flex: none;
      color: var(--sub-primary);
      margin-right: 100px;
    }
    .history-list {
      flex: 1 1 auto;
      dl {
        dt {
          @include font-call(GmarketSans, 28px, 700);
          color: var(--sub-primary);
          margin-bottom: 20px;
        }
        dd {
          @include font-call(GmarketSans, 18px, 500, 140%);
          color: var(--text-secondary);
          word-break: keep-all;
          + dd {
            margin-top: 5px;
          }
        }
        + dl {
          margin-top: 40px;
        }
      }
    }
    + .history-detail-info {
      margin-top: 60px;
    }
  }
}

// * service
#service {
  padding: 150px 0;
  background: {
    color: var(--bg-contents);
  }
  .section-subtitle1 {
    margin-bottom: 40px;
  }
  .ota-detail-info {
    @include flex(flex, null, wrap, stretch);
    transform: translate3d(0, 0, 0);
    gap: 20px;
    .item {
      @include position(relative);
      flex: 1 1 calc(100%/2 - 20px);
      min-height: 212px;
      padding: 30px;
      background: var(--gradient-type1-2);
      background: -webkit-linear-gradient(to bottom, var(--gradient-type1-1), var(--gradient-type1-2));
      background: linear-gradient(to bottom, var(--gradient-type1-1), var(--gradient-type1-2));
      border: {
        radius: 16px;
      }
      p {
        &:nth-child(1) {
          margin-bottom: 20px;
        }
        &:nth-child(2) {
          @include font-call(GmarketSans, 22px, 700);
          color: var(--gradient-type1-text);
          margin-bottom: 10px;
        }
        &:nth-child(3) {
          @include font-call(GmarketSans, 16px, 500, 140%);
          color: var(--gradient-type1-text);
          word-break: keep-all;
        }
      }
    }
    .svg-icon {
      width: 46px;
      height: 46px;
      fill: var(--gradient-type1-text);
    }
  }
  .api-info,
  .ctm-info {
    margin-top: 80px;
  }
  .api-detail-info {
    @include flex(flex, null, null, stretch);
    .api-company {
      @include flex(flex, column, null, center, null, null, center);
      @include position(relative);
      flex: none;
      transform: translate3d(0, 0, 0);
      gap: 20px;
      .circle {
        @include font-call(GmarketSans, 20px, 700);
        width: 160px;
        height: 160px;
        color: #333;
        background: #E0EAFC;
        background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);
        background: linear-gradient(to bottom, #CFDEF3, #E0EAFC);
      }
    }
    .arrow-list {
      @include position(relative);
      flex: none;
      .arrow {
        @include position(absolute);
        display: block;
        width: 25px;
        height: 25px;
        border: {
          top: 4px solid #888;
          left: 4px solid #888;
        }
        &:after {
          content: "";
          display: block;
          width: 4px;
          height: 100px;
          transform: rotate(-45deg) translate(34px, 11px);
          background: {
            color: #888;
          }
        }
        &.a1 {
          top: 150px;
          left: 110px;
          transform: rotate(160deg);
        }
        &.a2 {
          top: 50%;
          left: 110px;
          transform: rotate(135deg) translateX(-50%);
        }
        &.a3 {
          bottom: 150px;
          left: 110px;
          transform: rotate(110deg);
        }
      }
    }
    .my {
      @include flex(flex, null, null, center, null, null, center);
      @include position(relative);
      flex: none;
      transform: translate3d(0, 0, 0);
      margin-left: 180px;
      .circle {
        @include font-call(GmarketSans, 32px, 700);
        width: 240px;
        height: 240px;
        color: #fff;
        background: #232526;
        background: -webkit-linear-gradient(to right, #414345, #232526);
        background: linear-gradient(to right, #414345, #232526);
        span {
          @include font-call(GmarketSans, 16px, 700, 140%);
          margin-top: 10px;
        }
      }
    }
    .transfer {
      @include flex(flex, null, null, center);
      @include position(relative);
      flex: none;
      margin-left: 80px;
      .text {
        @include flex(inline-flex, null, null, center, null, null, center);
        @include font-call(GmarketSans, 18px, 700);
        height: 52px;
        padding: 20px;
        color: #fff;
        white-space: nowrap;
        background: #F00000;
        background: -webkit-linear-gradient(to right, #DC281E, #F00000);
        background: linear-gradient(to right, #DC281E, #F00000);
        border: {
          radius: 10px;
        }
      }
      .arrow {
        @include position(absolute, 50%);
        display: block;
        width: 25px;
        height: 25px;
        border: {
          top: 4px solid #F00000;
          left: 4px solid #F00000;
        }
        &:after {
          content: "";
          display: block;
          width: 4px;
          height: 40px;
          transform: rotate(-45deg) translate(13px, 4px);
          background: #F00000;
          background: -webkit-linear-gradient(to right, #DC281E, #F00000);
          background: linear-gradient(to right, #DC281E, #F00000);
        }
        &.a1 {
          left: -28px;
          transform: rotate(-45deg) translateY(calc(-50% - 4px));
        }
        &.a2 {
          right: -50px;
          transform: rotate(135deg) translateY(calc(50% + 4px));
        }
      }
    }
    .customer {
      @include flex(flex, null, null, center, null, null, center);
      flex: none;
      transform: translate3d(0, 0, 0);
      margin-left: auto;
      .circle {
        @include font-call(GmarketSans, 22px, 700);
        width: 180px;
        height: 180px;
        color: #333;
        background: #E0EAFC;
        background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);
        background: linear-gradient(to bottom, #CFDEF3, #E0EAFC);
      }
    }
    .circle {
      @include flex(inline-flex, column, null, center, null, null, center);
      text-align: center;
      border: {
        radius: 100%;
      }
    }
  }
  .api-detail-info2 {
    display: none;
    .api-company {
      @include flex(flex, null, null, center, null, null, center);
      transform: translate3d(0, 0, 0);
      gap: 80px;
      .circle {
        @include font-call(GmarketSans, 22px, 700);
        flex: none;
        width: 180px;
        height: 180px;
        color: #333;
        background: #E0EAFC;
        background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);
        background: linear-gradient(to bottom, #CFDEF3, #E0EAFC);
      }
    }
    .arrow-list {
      @include position(relative);
      margin-top: 10px;
      .arrow {
        @include position(absolute);
        display: block;
        width: 25px;
        height: 25px;
        border: {
          top: 4px solid #888;
          left: 4px solid #888;
        }
        &:after {
          content: "";
          display: block;
          width: 4px;
          height: 70px;
          transform: rotate(-45deg) translate(23px, 6px);
          background: {
            color: #888;
          }
        }
        &.a1 {
          top: 80px;
          left: 50%;
          transform: rotate(-172deg) translateX(140px);
        }
        &.a2 {
          top: 50px;
          left: 50%;
          transform: rotate(-135deg) translateY(-50%);
        }
        &.a3 {
          top: 80px;
          left: 50%;
          transform: rotate(-100deg) translateY(130px);
        }
      }
    }
    .my {
      @include flex(flex, null, null, center, null, null, center);
      transform: translate3d(0, 0, 0);
      margin-top: 120px;
      .circle {
        @include font-call(GmarketSans, 32px, 700);
        width: 240px;
        height: 240px;
        color: #fff;
        background: #232526;
        background: -webkit-linear-gradient(to right, #414345, #232526);
        background: linear-gradient(to right, #414345, #232526);
        span {
          @include font-call(GmarketSans, 16px, 700, 140%);
          margin-top: 10px;
        }
      }
    }
    .transfer {
      @include position(relative);
      padding: 40px 0;
      text-align: center;
      margin-top: 20px;
      .text {
        @include flex(inline-flex, null, null, center, null, null, center);
        @include font-call(GmarketSans, 20px, 700);
        height: 52px;
        padding: 20px;
        color: #fff;
        background: #F00000;
        background: -webkit-linear-gradient(to right, #DC281E, #F00000);
        background: linear-gradient(to right, #DC281E, #F00000);
        border: {
          radius: 10px;
        }
      }
      .arrow {
        @include position(absolute, null, null, null, 50%);
        display: block;
        width: 25px;
        height: 25px;
        border: {
          top: 4px solid #F00000;
          left: 4px solid #F00000;
        }
        &:after {
          content: "";
          display: block;
          width: 4px;
          height: 40px;
          transform: rotate(-45deg) translate(13px, 4px);
          background: #F00000;
          background: -webkit-linear-gradient(to right, #DC281E, #F00000);
          background: linear-gradient(to right, #DC281E, #F00000);
        }
        &.a1 {
          top: 14px;
          transform: rotate(45deg) translateX(-50%);
        }
        &.a2 {
          bottom: -2px;
          transform: rotate(-135deg) translateX(50%);
        }
      }
    }
    .customer {
      @include flex(flex, null, null, center, null, null, center);
      margin-top: 20px;
      transform: translate3d(0, 0, 0);
      .circle {
        @include font-call(GmarketSans, 22px, 700);
        width: 180px;
        height: 180px;
        color: #333;
        background: #E0EAFC;
        background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);
        background: linear-gradient(to bottom, #CFDEF3, #E0EAFC);
      }
    }
    .circle {
      @include flex(inline-flex, column, null, center, null, null, center);
      text-align: center;
      border: {
        radius: 100%;
      }
    }
  }
  .ctm-detail-info {
    @include flex(flex, null, wrap, stretch);
    transform: translate3d(0, 0, 0);
    margin-top: 40px;
    gap: 20px;
    .item {
      flex: 1 1 calc(100%/3 - 40px);
      padding: 30px;
      background: var(--gradient-type1-2);
      background: -webkit-linear-gradient(to bottom, var(--gradient-type1-1), var(--gradient-type1-2));
      background: linear-gradient(to bottom, var(--gradient-type1-1), var(--gradient-type1-2));
      border: {
        radius: 16px;
      }
      p {
        &:nth-child(1) {
          margin-bottom: 20px;
        }
        &:nth-child(2) {
          @include font-call(GmarketSans, 22px, 700);
          color: #fff;
          margin-bottom: 10px;
        }
        &:nth-child(3) {
          @include font-call(GmarketSans, 16px, 500, 140%);
          color: #ccc;
          word-break: keep-all;
        }
      }
    }
    .svg-icon {
      width: 46px;
      height: 46px;
      fill: #fff;
    }
  }
  .detail-text {
    margin-top: 30px;
    li {
      @include flex(flex, null, null, flex-start);
      + li {
        margin-top: 10px;
      }
    }
    .svg-icon {
      flex: none;
      width: 22px;
      height: 22px;
      margin-right: 8px;
      fill: var(--detail-svg-icon);
    }
    span {
      @include font-call(GmarketSans, 16px, 500, 140%);
      color: var(--detail-text);
    }
  }
}

// * recruit
#recruit {
  @include flex(flex, column, wrap, null, null, null, center);
  padding: 150px 0 0;
  background: {
    color: var(--bg-contents2);
  }
  .recruit-info {
    @include flex(flex, null, wrap, stretch);
    transform: translate3d(0, 0, 0);
    margin-top: 40px;
    gap: 20px;
    .item {
      flex: 1 1;
      padding: 30px;
      background: var(--bg-recruit-item);
      border: {
        radius: 16px;
      }
      p {
        &:nth-child(1) {
          margin-bottom: 20px;
        }
        &:nth-child(2) {
          @include font-call(GmarketSans, 22px, 700);
          color: var(--gradient-type2-1);
          background-image: -webkit-linear-gradient(45deg, var(--gradient-type2-1) 20%, var(--gradient-type2-2) 50%);
          background-clip: text;
          text-fill-color: transparent;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-bottom: 10px;
        }
        &:nth-child(3) {
          @include font-call(GmarketSans, 16px, 500, 140%);
          color: var(--gradient-type2-text);
          word-break: break-word;
        }
      }
    }
    .svg-icon {
      width: 46px;
      height: 46px;
      fill: var(--recruit-svg-icon);
    }
  }
  .life,
  .benefit {
    margin-top: 100px;
  }
  .life-info,
  .benefit-info {
    @include flex(flex, null, wrap, stretch);
    gap: 50px 20px;
    .svg-icon {
      flex: none;
      width: 22px;
      height: 22px;
      margin-right: 8px;
      fill: var(--detail-text);
    }
    dl {
      flex: 0 0 calc(100% / 3 - calc(40px / 3));
      dt {
        @include flex(flex, null, null, center);
        color: var(--detail-text);
        margin-bottom: 10px;
        span {
          @include font-call(GmarketSans, 18px, 500);
        }
      }
      dd {
        @include font-call(GmarketSans, 14px, 500, 160%);
        color: var(--text-secondary);
      }
    }
  }
  .recruit-now {
    margin-top: 100px;
    .position-item {
      &-header {
        @include flex(flex, null, null, center);
        @include position(relative);
        cursor: pointer;
        .label {
          @include flex(inline-flex, null, null, center);
          @include font-call(GmarketSans, 14px, 500);
          flex: none;
          height: 28px;
          padding: 0 10px;
          color: #fff;
          margin-right: 10px;
          background: {
            color: #fc6203;
          }
          border: {
            radius: 6px;
          }
        }
        .subject {
          @include font-call(GmarketSans, 18px, 500);
          color: var(--text-primary);
        }
        .svg-icon {
          flex: none;
          width: 24px;
          height: 24px;
          margin-left: auto;
          transition: transform 0.5s;
          fill: var(--text-primary);
        }
      }
      &-body {
        @include font-call(GmarketSans, 16px, 500, 145%);
        padding: 30px;
        margin-top: 20px;
        border: {
          radius: 10px;
        }
        background: {
          color: #f9f9f9;
        }
        li {
          @include position(relative);
          padding-left: 16px;
          &:before {
            @include position(absolute, 10px, null, null, 0, 1);
            content: "";
            width: 5px;
            height: 5px;
            border: {
              radius: 100%;
            }
            background: {
              color: #121212;
            }
          }
          + li {
            margin-top: 5px;
          }
        }
      }
      &[open] {
        .position-item-header {
          .svg-icon {
            transform: rotate(180deg);
          }
        }
      }
      + .position-item {
        @include border(top, 1px, solid, var(--border-primary));
        margin-top: 20px;
        padding-top: 20px;
      }
    }
  }
  .recruit-apply {
    @include position(relative);
    padding: 120px 0;
    margin-top: 80px;
    .bg {
      @include position(absolute, 0, 0, 0, 0, 0);
      background: {
        position: 50% 50%;
        size: cover;
        repeat: no-repeat;
        image: url($base-image-url + 'bg-recruit.jpg');
        attachment: fixed;
      }
    }
    .inside {
      @include flex(flex, column, null, center);
      @include position(relative, 0, 0, 0, 0, 1);
    }
    .title {
      @include font-call(GmarketSans, 42px, 700, 120%);
      color: #fff;
      text-shadow: 0px 0px 5px rgba(#000, 0.5);
      margin-bottom: 30px;
      text-align: center;
    }
  }
}

// * buttons
.btn-recruit-apply {
  @include flex(flex, null, null, center, null, null, center);
  @include font-call(GmarketSans, 18px, 500);
  width: 100%;
  max-width: 320px;
  height: 52px;
  color: #fff;
  transition: all 0.5s;
  border: {
    radius: 8px;
  }
  background: {
    color: #5754FE;
  }
  &:hover {
    filter: brightness(120%) saturate(120%);
  }
}

// * location
#location {
  padding: 150px 0;
  background: {
    color: var(--bg-contents);
  }
  .contact-info {
    @include flex(flex, null, wrap, stretch);
    margin-top: 40px;
    gap: 20px;
    .svg-icon {
      width: 46px;
      height: 46px;
      fill: var(--location-text);
    }
    .item {
      @include flex(flex, column, null, center);
      flex: 1 1;
      padding: 30px;
      background: var(--bg-location-item);
      border: {
        radius: 16px;
      }
      p {
        @include font-call(GmarketSans, 22px, 700);
        color: var(--location-text);
        margin-top: 20px;
      }
    }
  }
  .map {
    overflow: hidden;
    margin-top: 40px;
    border: {
      radius: 16px;
    }
  }
  .map-info {
    margin-top: 20px;
    li {
      @include flex(flex, null, null, center);
      color: var(--detail-text);
      + li {
        margin-top: 10px;
      }
    }
    .svg-icon {
      flex: none;
      width: 22px;
      height: 22px;
      margin-right: 8px;
      fill: var(--detail-svg-icon);
    }
    span {
      @include font-call(GmarketSans, 16px, 500, 140%);
    }
  }
}

// ! cert
#cert {
  margin-top: 60px;
  background: {
    color: var(--bg-contents);
  }
  .inside {
    @include flex(flex);
    overflow: hidden;
    gap: 20px;
    mask-image: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 1) 3%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 97%, transparent 100%);
    mask-repeat: no-repeat;
  }
  .cert-list {
    @include flex(flex, null, null, stretch);
    flex: 0 0 100%;
    gap: 20px;
    animation: scroll 30s linear infinite;
  }
  .cert-item {
    @include flex(flex, null, null, center, null, null, center);
    flex: 1 1;
    padding: 20px 0;
    text-align: center;
    background: {
      color: #fbfbfb;
    }
    border: {
      radius: 16px;
    }
    span {
      color: #888;
      line-height: 140%;
      font: {
        size: 18px;
      }
    }
  }
}

// * footer
#footer {
  @include border(top, 1px, solid, var(--border-footer));
  padding: 50px 0;
  background: {
    color: var(--bg-footer);
  }
  .company-info {
    address {
      display: inline-block;
    }
    li {
      @include flex(flex, null, null, center);
      + li {
        margin-top: 8px;
      }
      .link {
        color: var(--footer-link);
      }
      span {
        &:not(.footer-logo) {
          color: var(--footer-text);
          + span {
            @include flex(inline-flex, null, null, center);
            &:before {
              content: "";
              flex: none;
              width: 4px;
              height: 4px;
              margin: 0 10px;
              border: {
                radius: 100%;
              }
              background: {
                color: rgba(var(--footer-bullet), 0.7);
              }
            }
          }
        }
      }
      &:not(:first-child):not(:last-child) {
        span {
          &:not(.footer-logo) {
            font: {
              size: 14px;
            }
          }
        }
      }
      &:first-child {
        margin-bottom: 20px;
      }
      &:last-child {
        margin-top: 15px;
        span {
          &:not(.footer-logo) {
            font: {
              size: 13px;
            }
          }
        }
      }
    }
  }
}
.footer-logo {
  width: 150px;
  aspect-ratio: 10/1;
  text-indent: -9999em;
  background: {
    position: left top;
    size: contain;
    repeat: no-repeat;
  }
}

// ! modal
.modal {
  @include position(fixed, 0, 0, 0, 0, 2000);
  display: none;
  &.is-active {
    @include flex(flex, null, null, center, null, null, center);
  }
  padding: 20px;
  &:before {
    @include position(fixed, 0, 0, 0, 0, 2000);
    content: "";
    background: {
      color: rgba(255, 255, 255, 0.2);
    }
    backdrop-filter: blur(5px);
  }
  &-contents {
    @include position(relative, null, null, null, null, 2001);
    flex: none;
    width: 620px;
    border: {
      radius: 16px;
    }
    background: {
      color: #fff;
    }
  }
  &-header {
    @include flex(flex, null, null, center);
    @include border(bottom, 1px, solid, #eee);
    height: 42px;
  }
}

@media (prefers-color-scheme: light) {
  .footer-logo {
    background: {
      image: url($common-image-url + 'img-logo.png');
    }
  }
}
@media (prefers-color-scheme: dark) {
  .footer-logo {
    background: {
      image: url($common-image-url + 'img-logo-white.png');
    }
  }
}

// ! common
.section-title1 {
  @include font-call(GmarketSans, 42px, 700);
  color: var(--title-primary);
}
.section-title2 {
  @include font-call(GmarketSans, 32px, 700);
  color: var(--title-secondary);
}
.section-subtitle1 {
  @include font-call(GmarketSans, 26px, 500);
  color: var(--sub-primary);
  margin-top: 10px;
}
.section-subtitle2 {
  @include font-call(GmarketSans, 22px, 500);
  color: var(--sub-secondary);
  margin: {
    top: 10px;
    bottom: 50px;
  }
}

// ! responsive setting
@media only screen and (max-width: 1068px) {
  .scroll-animation {
    transform: scale(80%);
  }
  .inside {
    padding: 0 40px;
  }
  #visual {
    background: {
      attachment: unset;
    }
    .visual-text1 {
      font: {
        size: clamp(38px, 1068px, 5.722vw);
      }
    }
    .visual-text2 {
      font: {
        size: 18px;
      }
    }
    .visual-list {
      @include position(absolute, 0, 0, 0, 0, 0);
      .visual-item {
        background: {
          attachment: unset;
        }
      }
    }
  }
  #introduce {
    .service-detail-info {
      .item {
        padding: {
          right: 0;
          left: 0;
        }
      }
    }
    .history-detail-info {
      flex-direction: column;
      .title {
        @include position(relative, 0);
        font: {
          size: 48px;
        }
        margin: {
          right: 0;
          bottom: 30px;
        }
      }
    }
  }
  #service {
    .ctm-detail-info {
      .item {
        flex: 0 0 calc(100%/2 - 10px);
      }
      .svg-icon {
        width: 34px;
        height: 34px;
      }
    }
    .api-detail-info {
      display: none;
    }
    .api-detail-info2 {
      display: block;
    }
  }
  #recruit {
    .recruit-info {
      gap: 20px 0;
      .item {
        flex: 0 0 100%;
      }
    }
    .life-info,
    .benefit-info {
      dl {
        flex: 1 1 calc(100%/2 - 10px);
      }
    }
    .recruit-apply {
      .title {
        @include font-call(GmarketSans, 32px, 700, 120%);
      }
      .bg {
        background: {
          attachment: unset;
        }
      }
    }
  }
  .btn-recruit-apply {
    @include font-call(GmarketSans, 16px, 500);
    height: 46px;
  }

  #location {
    .contact-info {
      gap: 20px;
      .item {
        &:nth-child(3) {
          flex: 0 0 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .inside {
    padding: 0 20px;
  }
  #header {
    height: calc(50 / var(--cal-width-w));
    min-height: 40px;
    .main-nav {
      a {
        padding: calc(8 / var(--cal-width-w)) calc(16 / var(--cal-width-w));
        font: {
          size: clamp(12px, 768px, 1.907vw);
        }
      }
    }
  }
  #visual {
    p {
      letter-spacing: 0.5px;
    }
    .visual-text1 {
      letter-spacing: 1;
      font: {
        size: clamp(24px, 768px, 5.722vw);
      }
      + .visual-text1 {
        margin-top: calc(10 / var(--cal-width-w));
      }
    }
    .visual-text2 {
      margin-top: calc(40 / var(--cal-width-w));
      font: {
        size: clamp(10px, 768px, 2.452vw);
      }
    }
  }
  #introduce {
    padding: 100px 0;
    .service-detail-info {
      .item {
        p {
          text-align: left;
          &:nth-child(1) {
            @include font-call(GmarketSans, clamp(24px, 768px, 2.997vw), 700, 140%);
          }
          &:nth-child(2) {
            @include font-call(GmarketSans, clamp(14px, 768px, 2.452vw), 500, 140%);
          }
        }
      }
      span {
        display: none;
      }
    }
    .history-detail-info {
      .title {
        @include font-call(GmarketSans, clamp(24px, 768px, 2.997vw), 700, 140%);
      }
      .history-list {
        dl {
          dt {
            @include font-call(GmarketSans, clamp(18px, 768px, 2.452vw), 700, 140%);
            margin-bottom: 10px;
          }
          dd {
            @include font-call(GmarketSans, clamp(14px, 768px, 2.452vw), 500, 140%);
          }
          + dl {
            margin-top: 20px;
          }
        }
      }
    }
  }
  #service {
    padding: 100px 0;
    .ota-detail-info,
    .ctm-detail-info {
      gap: 15px 0;
      .item {
        flex: 0 0 100%;
        min-height: auto;
      }
      .svg-icon {
        width: 34px;
        height: 34px;
      }
      p {
        &:nth-child(2) {
          @include font-call(GmarketSans, clamp(18px, 768px, 2.997vw), 700, 140%);
        }
        &:nth-child(3) {
          @include font-call(GmarketSans, clamp(14px, 768px, 2.452vw), 700, 140%);
        }
      }
    }
    .api-detail-info2 {
      .api-company {
        gap: 15px 0;
        flex-direction: column;
        .circle {
          @include font-call(GmarketSans, clamp(16px, 768px, 2.997vw), 700);
          flex: none;
          width: 100%;
          height: auto;
          padding: 20px;
          border: {
            radius: 16px;
          }
        }
      }
      .arrow-list {
        .arrow {
          @include position(absolute, 50px);
          display: block;
          width: 25px;
          height: 25px;
          border: {
            top: 4px solid #888;
            left: 4px solid #888;
          }
          &:after {
            content: "";
            display: block;
            width: 4px;
            height: 70px;
            transform: rotate(-45deg) translate(23px, 6px);
          }
          &.a1 {
            display: none;
          }
          &.a2 {
            top: 70px;
            left: 50%;
            transform: rotate(-135deg) translateX(50%);
          }
          &.a3 {
            display: none;
          }
        }
      }
      .my {
        margin-top: 110px;
        .circle {
          @include font-call(GmarketSans, clamp(20px, 768px, 4.360vw), 700);
          width: max(180px, calc(240 / var(--cal-width-w)));
          height: max(180px, calc(240 / var(--cal-width-w)));
          span {
            @include font-call(GmarketSans, clamp(16px, 768px, 2.180vw), 700, 140%);
            margin-top: 10px;
          }
        }
      }
      .transfer {
        margin-top: 20px;
        .text {
          @include font-call(GmarketSans, clamp(16px, 768px, 2.725vw), 700);
          height: max(32px, calc(52 / var(--cal-width-w)));
          padding: 20px;
          border: {
            radius: 10px;
          }
        }
        .arrow {
          width: 25px;
          height: 25px;
          border: {
            top: 4px solid #F00000;
            left: 4px solid #F00000;
          }
          &:after {
            content: "";
            display: block;
            width: 4px;
            height: 40px;
            transform: rotate(-45deg) translate(13px, 4px);
          }
          &.a1 {
            top: 14px;
            transform: rotate(45deg) translateX(-50%);
          }
          &.a2 {
            bottom: -2px;
            transform: rotate(-135deg) translateX(50%);
          }
        }
      }
      .customer {
        .circle {
          @include font-call(GmarketSans, clamp(16px, 768px, 2.725vw), 700);
          width: 100%;
          height: auto;
          padding: 20px;
          border: {
            radius: 16px;
          }
        }
      }
    }
    .detail-text {
      li {
        align-items: flex-start;
        + li {
          margin-top: max(5px, calc(10 / var(--cal-width-w)));
        }
      }
      .svg-icon {
        width: max(16px, calc(22 / var(--cal-width-w)));
        height: max(16px, calc(22 / var(--cal-width-w)));
        margin-right: max(5px, calc(8 / var(--cal-width-w)));
      }
      span {
        @include font-call(GmarketSans, clamp(13px, 768px, 2.180vw), 500, 140%);
      }
    }
  }
  #recruit {
    padding: 100px 0 0;
    .recruit-info {
      margin-top: max(20px, calc(30 / var(--cal-width-w)));
      gap: 15px 0;
      .item {
        flex: 0 0 100%;
      }
      .svg-icon {
        width: 34px;
        height: 34px;
      }
      p {
        &:nth-child(2) {
          @include font-call(GmarketSans, clamp(18px, 768px, 2.997vw), 700, 140%);
        }
        &:nth-child(3) {
          @include font-call(GmarketSans, clamp(14px, 768px, 2.452vw), 700, 140%);
        }
      }
    }
    .life-info,
    .benefit-info {
      gap: 30px;
      dl {
        flex: 0 0 100%;
        .svg-icon {
          width: max(16px, calc(22 / var(--cal-width-w)));
        }
        dt {
          span {
            @include font-call(GmarketSans, clamp(16px, 768px, 2.452vw), 500);
          }
        }
        dd {
          span {
            @include font-call(GmarketSans, clamp(12px, 768px, 1.907vw), 500);
          }
        }
      }
    }
    .lift,
    .benefit,
    .recruit-now {
      margin-top: 60px;
    }
    .recruit-now {
      .position-item {
        &-header {
          min-width: 0;
          .label {
            @include font-call(GmarketSans, clamp(12px, 768px, 1.907vw), 500);
            height: max(22px, calc(28 / var(--cal-width-w)));
            padding: 0 max(5px, calc(10 / var(--cal-width-w)));
          }
          .subject {
            @include font-call(GmarketSans, clamp(16px, 768px, 2.452vw), 500);
          }
          .svg-icon {
            width: max(16px, calc(24 / var(--cal-width-w)));
            width: max(16px, calc(24 / var(--cal-width-w)));
          }
        }
        &-body {
          @include font-call(GmarketSans, clamp(14px, 768px, 2.180vw), 500);
          padding: max(20px, calc(20 / var(--cal-width-w)));
          margin-top: max(10px, calc(10 / var(--cal-width-w)));
          li {
            &:before {
              @include position(absolute, max(7px, calc(8 / var(--cal-width-w))), null, null, 0, 1);
            }
          }
        }
      }
    }
    .recruit-apply {
      margin-top: 60px;
    }
  }
  .btn-recruit-apply {
    height: 46px;
    font: {
      size: clamp(16px, 768px, 2.180vw);
    }
  }

  #location {
    padding: 100px 0;
    .contact-info {
      margin-top: max(20px, calc(0 /var(--cal-width-w)));
      gap: 15px 0;
      .item {
        flex: 0 0 100%;
        p {
          @include font-call(GmarketSans, clamp(18px, 768px, 2.997vw), 700);
        }
      }
    }
    .map-info {
      li {
        align-items: flex-start;
        + li {
          margin-top: max(5px, calc(10 / var(--cal-width-w)));
        }
      }
      .svg-icon {
        width: max(16px, calc(22 / var(--cal-width-w)));
        height: max(16px, calc(22 / var(--cal-width-w)));
        margin-right: max(5px, calc(8 / var(--cal-width-w)));
      }
      span {
        @include font-call(GmarketSans, clamp(13px, 768px, 2.180vw), 500, 140%);
      }
    }
  }

  #footer {
    padding: max(30px, calc(50 / var(--cal-width-w))) 0;
    .company-info {
      li {
        @include flex(flex, column, null, flex-start);
        gap: 5px 0;
        + li {
          margin-top: 5px;
        }
        span {
          &:not(.footer-logo) {
            + span {
              &:before {
                content: none;
              }
            }
          }
        }
        &:not(:first-child):not(:last-child) {
          span {
            &:not(.footer-logo) {
              @include font-call(GmarketSans, clamp(12px, 768px, 1.823vw), 500);
            }
          }
        }
        &:first-child {
          margin-bottom: 20px;
        }
        &:last-child {
          margin-top: 15px;
          span {
            &:not(.footer-logo) {
              @include font-call(GmarketSans, clamp(11px, 768px, 1.823vw), 500);
            }
          }
        }
      }
    }
  }

  .section-title1 {
    @include font-call(GmarketSans, clamp(32px, 768px, 5.722vw), 700);
  }
  .section-title2 {
    @include font-call(GmarketSans, clamp(24px, 768px, 4.360vw), 700);
  }
  .section-subtitle1 {
    @include font-call(GmarketSans, clamp(20px, 768px, 3.542vw), 500);
  }
  .section-subtitle2 {
    @include font-call(GmarketSans, clamp(18px, 768px, 2.997vw), 500);
    margin: {
      top: 10px;
      bottom: 30px;
    }
  }
}
// * animation keyframes
@keyframes mouse-move {
  0% {
    top: 20px;
    opacity: 1;
  }
  90% {
    top: 40px;
    opacity: 0;
  }
  100% {
    top: 20px;
    opacity: 0;
  }
}
@keyframes visual-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
