@charset "UTF-8";

//* 나눔스퀘어네오
@font-face {
  font-family: 'NanumSquareNeo';
  font-style: normal;
  src: url('../fonts/NanumSquareNeo-Variable.eot');
  src: url('../fonts/NanumSquareNeo-Variable.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumSquareNeo-Variable.woff2') format('woff2'),
    url('../fonts/NanumSquareNeo-Variable.woff') format('woff');
  font-display: swap;
}
